body {
    
    color: grey;
}


/* navbar */
.navbar-default {
    background-color: white !important;
    border-color: #E7E7E7;
}


/*Header*/
.jumbotron {
    background: url('images/deborahbannernotext.jpg');
    height:100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
 
}
/*Castle Picture inside header*/
.jumbotron .jumboContainer {
    position:relative;
    top:50px;
  }

  #titleText {
      margin-top: 100px;
  }

 

  .carousel-caption {
      color: gray;
  }


  /*Free Book Page*/

  .freebook {
    margin: auto;
    width: 50%;
    margin-top: 50px;
  }

  .button {
    margin: auto;
    
    margin-top: 20px;
  }


  /*Contact Form Page*/



  /*media queries*/
/*desktop*/
@media screen and (max-width: 980px) and (min-width: 768px) {
    #titleText {
        width: 600px;
        height: 150px;
    }

   
  }


  @media screen and (max-width: 768px) and (min-width: 600px) {
    #titleText {
        width: 500px;
        height: 125px;
    }

    

  }

  @media screen and (max-width: 599px) and (min-width: 416px) {
    #titleText {
        width: 400px;
        height: 100px;
    }



    
  }


   
  /* wide phone*/
  @media screen and (max-width: 415px) and (min-width: 0px) {
    
       
    #titleText {
        width: 350px;
        height: 87px;
    }


  
  }

  