body {
    
    color: grey;
}


/* navbar */
.navbar-default {
    background-color: white !important;
    border-color: #E7E7E7;
}


/*Header*/
.jumbotron {
    background: url('images/deborahbanner3.jpg');
    height:500px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
 
}
/*Picture inside header*/
.jumbotron .jumboContainer {
    position:relative;
    top:50px;
  }


  .carousel-caption {
      color: gray;
  }


  /*Free Book Page*/

  .freebook {
    margin: auto;
    width: 50%;
    margin-top: 50px;
  }

  .button {
    margin: auto;
    
    margin-top: 20px;
  }

  /*Contact Form Page*/

  