body {
    
    color: grey;
    
}


/* navbar */
  

  .nav-item {
  color: black !important;
  letter-spacing: .08em;
  position: center;
  background-color: transparent;
  
  }
  
  .nav-item:hover {
    border-bottom: 3px inset rgb(255,215,0);
    
  
  }


  .fa-crown:hover {
      color: rgb(255,215,0)
  }


/*Header*/
.jumbotron {
    background: url('images/deborahbannernotext.jpg');
    height:100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-top: 10px;
 
}
/*Castle Picture inside header*/
.jumbotron {
    position:relative;
    
  }

  #titleText {
      margin-top: 100px;
  }

  #bookgreens {
      float: left;
      top: 50px;
  }

 .bookText {
     margin-top: 10%;
 }

  .carousel-caption {
      color: gray;
      
  }

  /*carousel captions*/

  .Robert, .Kaya, .MT {
      margin-bottom: 10%;
  }

  .Bill, .JL {
    margin-bottom: 8%;
}

  .Jack {
    margin-bottom: 2%;
}


  /*Free Book Page*/

  .freebook {
   
  
    margin-top: 50px;
  }

 
#freebookbutton {
  
  background:  rgb(114, 129, 224);
  color: black;
  padding: 14px 20px;
  margin-top: 40px;
  margin-bottom: 40px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
 
}

#freebookbutton:hover {
        background-color: rgb(255,215,0)
}


  /*Contact Form Page*/

  #contact-form {
    border-radius: 5px;
    background-color: #00264d;
    padding: 20px;
    color: #DCDCDC;
    width: 50%;
    margin-top: 5%;
}


  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 0px 0 16px;
    background-color: #DCDCDC;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 30%;
    background:  rgb(114, 129, 224);
    color: black;
    padding: 14px 20px;
    margin: 12px 0 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
}

input[type=submit]:hover {
    background-color: gold;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #DCDCDC;
    resize: none;
}



  /*media queries*/
/*desktop*/
@media screen and (max-width: 980px) and (min-width: 768px) {
    #titleText {
        width: 600px;
        height: 150px;
    }

    input[type=submit] {
        width: 50%;
    }


   
  }


  @media screen and (max-width: 768px) and (min-width: 600px) {
    #titleText {
        width: 500px;
        height: 125px;
    }

    input[type=submit] {
        width: 100%;
    }

    

  }

  @media screen and (max-width: 599px) and (min-width: 416px) {
    #titleText {
        width: 400px;
        height: 100px;
    }

    input[type=submit] {
        width: 100%;
    }



    
  }


   
  /* wide phone*/
  @media screen and (max-width: 415px) and (min-width: 0px) {
    
       
    #titleText {
        width: 350px;
        height: 87px;
    }


    input[type=submit] {
        width: 100%;
    }
  
  }

  